<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/header.ejs') %>
    </head>
    <body>
        <div class="relative w-full h-full max-w-screen-6xl flex">
            <div class="flex flex-row w-full h-full">
                <!-- Navigation bar -->
                <%- include('../layouts/navbar.ejs', {position: "setting"}) %>

                <!-- All content -->
                <div class="grow flex h-full overflow-y-auto">
                    <div class="flex flex-col w-full ">
                        <!-- Top bar -->
                        <%- include('../layouts/topBar.ejs', {name: "setting"}) %>
                        <!-- Container -->
                        <div class="flex px-10 mt-4 justify-center items-center ">
                            <div class="flex flex-col gap-8 w-full w-6/12">
                                <div class="flex flex-row w-full">
                                    <a href="/setting" class="border-b border-black text-center py-4 w-1/2 font-bold">
                                        Change Info
                                    </a>
                                    <button class="border-b border-black text-center bg-[#FF432A] text-white py-4 w-1/2 font-bold">
                                        Change Password
                                    </button>
                                </div>
                                <div class="flex justify-center items-center">
                                    <form class="flex flex-col" action="/setting" method="POST">
                                        <div class="flex flex-col gap-1">
                                            <label>Password</label>
                                            <div class="flex flex-row gap-2 border-b border-black focus:border-red items-center pb-2">
                                                <i class="fa fa-envelope-o fa-xl" aria-hidden="true"></i>
                                                <input type="text" name="password" class="peer border-0 focus:border-0 text-xl grow" placeholder="Enter your username" required>
                                            </div>
                                        </div>
                                        <div class="flex flex-col gap-1">
                                            <label>Confirmation</label>
                                            <div class="flex flex-row gap-2 border-b border-black focus:border-red items-center pb-2 group-input">
                                                <i class="fa fa-envelope-o fa-xl" aria-hidden="true"></i>
                                                <input type="text" name="confirmation" class="peer border-0 focus:border-0 text-xl grow input" placeholder="Enter your Password" required>
                                            </div>
                                        </div>
                                        <button type="submit" class="flex justify-center px-2 py-4 rounded-2xl bg-[#FF432A] text-lg text-white font-bold text-white mt-8">
                                            Update
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Script -->
        <%- include('../layouts/footer.ejs') %>
    </body>
</html>
