<div class="flex flex-row px-10 py-6 justify-between border-b items-center">
    <div class="flex lg:hidden">
        <button class="leftBar-modal" data-modal="false"><i class="fa fa-bars text-2xl" aria-hidden="true"></i></button>
    </div>
    <div class="flex flex-row gap-4 items-center">
        <i class="fa fa-window-maximize text-xl" aria-hidden="true"></i>
        <i class="fa fa-bars text-2xl hidden" aria-hidden="true"></i>
        <label class="text-md"><%= name %> </label>
    </div>
    <div class="flex">
        <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
    </div>
</div>